digraph G {
  label="<%= timestamp %>"

<%=
for s <- switches do
  height =
    if length(s.fdb) == 0 do
      "0.25"
    else
      "#{length(s.fdb) * 0.5}"
    end

  """
    "#{NetAddr.address(s.polladdr)}" [label="#{s.name}" height=#{height}];
  """
end
%>
<%=
for {%{physaddr: down_physaddr} = down, up} <- edges do
  up_id = NetAddr.address up.polladdr
  down_id = NetAddr.address down.polladdr
  downlink =
    Enum.find_value(up.fdb, fn
      {port, ^down_physaddr, _} ->
        port
      _ ->
        nil
    end)

  """
    "#{up_id}" -> "#{down_id}" [taillabel="#{downlink}" headlabel="#{down.uplink}"];
  """
end
%>
}
