digraph G {
  label="<%= timestamp %>"

<%=
for s <- switches do
  height = length(s.fdb) == 0 && "0.25" || to_string(length(s.fdb) * 0.5)

  """
    "#{NetAddr.address(s.polladdr)}" [label="#{s.name}" height=#{height}];
  """
end
%>
<%=
for {%{physaddr: down_physaddr} = down, up} <- edges do
  up_id = NetAddr.address up.polladdr
  down_id = NetAddr.address down.polladdr
  downlink = Enum.find_value(up.fdb, fn {port, ^down_physaddr, _} -> port; _ -> nil end)

  """
    "#{up_id}" -> "#{down_id}" [taillabel="#{downlink}" headlabel="#{down.uplink}"];
  """
end
%>
}
