graph G {
  label="<%= timestamp %>"

<%=
for router <- routers do
  """
    "#{router.id}" [label="#{router.name}"];
  """
end
%>
<%=
for edge <- edges do
  """
    "#{edge}";
  """
end
%>
<%=
for {router, edge} <- incidences do
  """
    "#{router}" -- "#{edge}";
  """
end
%>
}
