graph G {
  label="<%= timestamp %>"

<%=
for r <- routers do
  """
    "#{r.id}" [label="#{r.name}"];
  """
end
%>
<%=
for e <- edges do
  """
    "#{e}";
  """
end
%>
<%=
for {r, e} <- incidences do
  """
    "#{r}" -- "#{e}";
  """
end
%>
}
